.landing-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.profile-img {
  border-radius: 50%;
  max-width: 450px;
  box-shadow: #edf7fa -10px 10px;
  border: 0;
}

.section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.name-section {
  min-width: 60%;
}
@media only screen and (max-width: 600px) {
  .landing-section {
    margin-top: 10px;
  }
  .section {
    flex-direction: column;
  }
  .profile-img {
    max-width: 300px;
  }
  .name-section {
    max-width: fit-content;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .profile-img {
    max-width: 350px;
  }
}
