.landing-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 10%; */
}

.main-container {
  /* filter: blur(5px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.section {
  display: flex;
  gap: 10px;
  opacity: 0;
}

.section.fade-in {
  opacity: 1; /* Make section visible */
  /* Apply animation */
  animation-fill-mode: forwards !important;
  animation: fadeIn 2s ease-out forwards;
}

.caption-text {
  margin-top: 40px;
}
.experience-section {
  margin-top: 50px;
}
/* Keyframes for fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.blueText {
  color: #5f98dd;
}
.pinkText {
  color: #b19bee;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(520px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
.name-section {
  max-width: 80%;
}
@media only screen and (max-width: 600px) {
  .main-container {
    padding: 0 20px;
  }
  .landing-section {
    margin-top: 10px;
  }
  .section {
    flex-direction: column;
  }

  .name-section {
    width: 100%;
  }
}
