@font-face {
  font-family: "Sora";
  src: url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap")
    format(".ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Sora" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
